@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
body {
  margin: 0;
  background-color: #EBECF1;
}
#bodyOverview {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EBECF1;
  font-family: 'Montserrat';
}
#bodyOverview a {
  text-decoration: none !important;
}
#bodyOverview a:hover {
  cursor: pointer;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}
#bodyOverview input {
  border: 0;
  padding: 0;
  font-family: 'Montserrat';
}
#bodyOverview input:focus {
  box-shadow: none !important;
  outline: none;
}
#bodyOverview textarea {
  border: 0;
}
#bodyOverview textarea:focus {
  box-shadow: none !important;
  outline: none;
}
#bodyOverview select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 0;
  font-family: 'Montserrat';
}
#bodyOverview select:hover {
  cursor: pointer;
}
#bodyOverview *,
#bodyOverview :after,
#bodyOverview :before {
  box-sizing: unset;
  -webkit-box-sizing: unset;
}
#bodyOverview #search {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  background-color: white;
}
#bodyOverview #search .icon {
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #BDBDBD;
}
#bodyOverview #search input {
  width: 100%;
  height: 100%;
  font-size: 14px;
}
#bodyOverview #container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#bodyOverview #container .areaH {
  width: 100%;
  display: flex;
}
#bodyOverview #container .areaH .areaV {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#bodyOverview #container .areaH .box {
  height: 100%;
  max-width: 100%;
  padding: 5px 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  color: #333333;
}
#bodyOverview #container .areaH .item {
  display: flex;
  align-items: center;
}
#bodyOverview #container .areaH .item.wrap {
  flex-wrap: wrap;
}
#bodyOverview #container .areaH .gray {
  color: #BDBDBD;
  filter: grayscale(100%);
  pointer-events: none;
}
#bodyOverview #mainHardware .box:not(.editBox) .add {
  display: flex !important;
}
#bodyOverview #mainHardware .box:not(.editBox) .save {
  display: none !important;
}
#bodyOverview #mainHardware .box.editBox .add {
  display: none !important;
}
#bodyOverview #mainHardware .box.editBox .save {
  display: flex !important;
}
#bodyOverview #mainHardware .box.editBox .station {
  color: white;
  background-color: #F96332;
  cursor: pointer;
}
#bodyOverview #mainHardware .box.editBox .station.off {
  display: unset;
  color: #828282;
  background-color: white;
}
#bodyOverview .hardware {
  width: calc(33.33% - 30px);
  padding: 5px 10px;
  margin: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #F5F6FA;
}
#bodyOverview .hardware > * > .content {
  color: #828282;
}
#bodyOverview .hardware .station {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  color: #F96332;
  background-color: white;
}
#bodyOverview .hardware .station.off {
  display: unset;
  color: #E0E0E0;
  background-color: white;
}
#bodyOverview .title {
  margin: 5px 0;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#bodyOverview .content {
  margin: 5px 0;
  font-size: 14px;
  font-weight: normal;
  white-space: nowrap;
}
#bodyOverview .remark {
  font-size: 12px;
  white-space: nowrap;
  color: #828282;
}
#bodyOverview .add {
  width: 24px;
  height: 24px;
  margin: 0 10px;
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #F96332;
}
#bodyOverview .save {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F96332;
}
#bodyOverview .edit {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F96332;
}
#bodyOverview .question {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #BDBDBD;
}
#bodyOverview .setting {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #BDBDBD;
}
#bodyOverview .setting.main {
  color: #F96332;
}
#bodyOverview .textButton {
  padding: 2.5px 7.5px;
  margin: 0 10px;
  border-radius: 99px;
  background-color: #F96332;
  font-size: 10px;
  color: white;
}
#bodyOverview .state {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #828282;
}
#bodyOverview .state.on {
  background-color: #27AE60;
}
#bodyOverview .state.off {
  background-color: #EB5757;
}
#bodyOverview .input {
  width: 100%;
  height: 20px;
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 99px;
  font-size: 12px;
  background-color: #F5F6FA;
}
#bodyOverview .number {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  margin: 5px 0;
  border-radius: 99px;
  display: flex;
  align-items: center;
  background-color: #F5F6FA;
}
#bodyOverview .number input {
  width: 100%;
  height: 100%;
  border-radius: 99px;
  font-size: 12px;
  text-align: left;
  color: #333333;
  background-color: #F5F6FA;
}
#bodyOverview .number .unit {
  min-width: 45%;
  margin: 0;
  line-height: 30px;
  text-align: left;
}
#bodyOverview textarea {
  height: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  font-size: 12px;
  background-color: #F5F6FA;
}
#bodyOverview .map {
  width: 100%;
  height: 150px;
  margin: 5px 0;
  border-radius: 10px;
  background-color: #F5F6FA;
}
#bodyOverview .dropdown {
  width: 100px;
  margin: 5px 0;
  position: relative;
  display: flex;
  align-items: center;
}
#bodyOverview .dropdown select {
  width: 100%;
  height: 30px;
  padding: 5px 10px;
  margin: 0;
  border-radius: 99px;
  font-size: 12px;
  color: #333333;
  background-color: #F5F6FA;
}
#bodyOverview .dropdown .arrow {
  width: 20px;
  height: 100%;
  top: 0;
  right: 5px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F96332;
  pointer-events: none;
}
#bodyOverview .date {
  width: fit-content;
  padding: 0 10px;
  margin: 5px 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F6FA;
}
#bodyOverview .date .delete {
  margin-left: 10px;
  color: #BDBDBD;
}
#bodyOverview .timeRange {
  width: fit-content;
  height: 30px;
  padding: 0 10px;
  margin: 5px 0;
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F6FA;
}
#bodyOverview .timeRange select {
  font-size: 12px;
  color: #333333;
  background-color: #F5F6FA;
}
#bodyOverview .timeRange .delete {
  margin-left: 10px;
  color: #BDBDBD;
}
#bodyOverview .dateRange {
  width: fit-content;
  height: 30px;
  padding: 0 10px;
  margin: 5px 0;
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F6FA;
}
#bodyOverview .dateRange input {
  font-size: 12px;
  color: #333333;
  background-color: #F5F6FA;
}
#bodyOverview .search {
  width: 250px;
  padding: 0 3px;
  border-radius: 15px 7.5px 7.5px 15px;
  top: 5px;
  right: 5px;
  position: absolute;
  display: flex;
  align-items: center;
  background-color: #F5F6FA;
}
#bodyOverview .search .dropdown {
  min-width: 80px;
  height: 20px;
}
#bodyOverview .search .dropdown select {
  height: 24px;
  padding: 0 0 0 5px;
  background-color: white;
}
#bodyOverview .search .icon {
  min-width: 25px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #BDBDBD;
}
#bodyOverview .search input {
  width: 100%;
  height: 30px;
  font-size: 12px;
  background-color: transparent;
}
#bodyOverview .tabs {
  width: 100%;
  height: 24px;
  padding: 3px;
  margin: 5px 0;
  border-radius: 99px;
  display: flex;
  align-items: center;
  background-color: #F5F6FA;
}
#bodyOverview .tabs .tab {
  width: 100%;
  height: 100%;
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#bodyOverview .tabs .tab.active {
  background-color: #F96332;
  color: white;
  box-shadow: unset;
}
#bodyOverview .tabs .tab:not(.active):hover {
  background-color: #FEE0D6;
}
#bodyOverview .tabs .tab span {
  font-size: 10px;
}
#bodyOverview .tabs .tab .icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#bodyOverview .switch {
  position: relative;
  display: inline-block;
  min-width: 34px;
  height: 20px;
  margin-right: 10px;
  margin-bottom: 0;
}
#bodyOverview .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
#bodyOverview .switch input:checked + .slider {
  background-color: #27AE60;
}
#bodyOverview .switch input:focus + .slider {
  box-shadow: 0 0 1px #27AE60;
}
#bodyOverview .switch input:checked + .slider:before {
  -webkit-transform: translateX(-14px);
  -ms-transform: translateX(-14px);
  transform: translateX(-14px);
}
#bodyOverview .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #BDBDBD;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#bodyOverview .switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 16px;
  bottom: 2px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#bodyOverview .check {
  width: fit-content;
  height: 30px;
  padding: 0 10px 0 30px;
  margin: 5px 0;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 12px;
  /* On mouse-over, add a grey background color */
  /* Hide the browser's default radio button */
}
#bodyOverview .check.box4 {
  width: calc(25% - 20px);
  padding-left: 5px;
  margin: 5px;
  border-radius: 10px;
  justify-content: center;
  background-color: #F5F6FA;
}
#bodyOverview .check.box4 .icon {
  width: 30px;
  height: 30px;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #828282;
}
#bodyOverview .check:hover {
  background: #FEE0D6;
}
#bodyOverview .check:hover input ~ .checkmark {
  background-color: white;
}
#bodyOverview .check:hover .number {
  background-color: #F5F6FA !important;
}
#bodyOverview .check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  /* When the radio button is checked, add a blue background */
  /* Show the indicator (dot/circle) when checked */
}
#bodyOverview .check input:checked ~ .checkmark {
  background-color: #F96332;
}
#bodyOverview .check input:checked ~ .checkmark:after {
  display: block;
}
#bodyOverview .check .checkmark.radio {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid #F96332;
  background-color: white;
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* Style the indicator (dot/circle) */
}
#bodyOverview .check .checkmark.radio:after {
  content: "";
  position: absolute;
  display: none;
}
#bodyOverview .check .checkmark.radio:after {
  top: 4px;
  left: 4px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: white;
}
#bodyOverview .check .checkmark.checkbox {
  position: absolute;
  top: 7px;
  left: 10px;
  height: 12px;
  width: 12px;
  border-radius: 2px;
  border: solid 2px #F96332;
  background-color: white;
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Style the checkmark/indicator */
}
#bodyOverview .check .checkmark.checkbox:after {
  content: "";
  position: absolute;
  display: none;
}
#bodyOverview .check .checkmark.checkbox:after {
  left: 3px;
  top: 0.5px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#bodyOverview table {
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 10px;
  border-collapse: unset;
}
#bodyOverview table .mainColor {
  color: #F96332;
}
#bodyOverview table tr:not(:first-child) {
  background-color: #F5F6FA;
}
#bodyOverview table th {
  padding: 5px;
  text-align: center;
}
#bodyOverview table td {
  padding: 5px;
}
#bodyOverview table td:first-child {
  border-radius: 10px 0 0 10px;
}
#bodyOverview table td:last-child {
  border-radius: 0 10px 10px 0;
}
#bodyOverview table td span {
  line-height: 30px;
  white-space: unset !important;
}
#bodyOverview table .week {
  width: fit-content;
  height: 30px;
  padding: 0 10px;
  border-radius: 99px;
  display: flex;
  align-items: center;
}
#bodyOverview table .week a,
#bodyOverview table .week div {
  margin: 0 5px;
}
#bodyOverview table .action {
  width: fit-content;
  display: flex;
  align-items: center;
}
#bodyOverview table .action a {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #BDBDBD;
}
#bodyOverview table .edit .input,
#bodyOverview table .edit .dropdown > select,
#bodyOverview table .edit .timeRange,
#bodyOverview table .edit .timeRange > select,
#bodyOverview table .edit .dateRange,
#bodyOverview table .edit .dateRange > input,
#bodyOverview table .edit .number,
#bodyOverview table .edit .number > input,
#bodyOverview table .edit .week {
  background-color: white;
}
#bodyOverview table .edit .action > a {
  color: #F96332;
}
#bodyOverview table .edit .off {
  color: #E0E0E0;
}
#bodyOverview .modal {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
}
#bodyOverview .modal .close {
  top: 20px;
  right: 20px;
  position: absolute;
  color: #BDBDBD;
  z-index: 3;
  font-size: 28px;
  line-height: 20px;
}
#bodyOverview .modal .close:hover,
#bodyOverview .modal .close:focus {
  color: #333333;
  text-decoration: none;
  cursor: pointer;
}
#bodyOverview .modal#popReceipt > .modal-content {
  width: fit-content;
}
#bodyOverview .modal#popPrint > .modal-content {
  width: 500px;
  height: calc(100% - 80px);
}
#bodyOverview .modal#popPrint > .modal-content .areaH {
  overflow-y: auto;
  height: 100%;
}
#bodyOverview .modal#popPrint > .modal-content .areaH .areaV {
  min-width: 200px;
  padding: 10px 0;
  background-color: white;
  overflow-y: scroll;
}
#bodyOverview .modal#popPrint > .modal-content .areaH .areaV .icon {
  display: none;
}
#bodyOverview .modal#popPrint > .modal-content .areaH .areaV.type {
  border-radius: 20px 20px 0 10px;
}
#bodyOverview .modal#popPrint > .modal-content .areaH .areaV.product {
  border-radius: 20px 20px 10px 0;
  background-color: #F2F2F2;
}
#bodyOverview .modal#popPrint > .modal-content .areaH .areaV.active,
#bodyOverview .modal#popPrint > .modal-content .areaH .areaV .active {
  background-color: #FEE0D6;
}
#bodyOverview .modal#popPrint > .modal-content .areaH .areaV.active .icon,
#bodyOverview .modal#popPrint > .modal-content .areaH .areaV .active .icon {
  display: flex;
  right: 10px;
  position: absolute;
  color: #828282;
}
#bodyOverview .modal#popPrint > .modal-content .areaH .areaV .areaV {
  min-height: max-content;
  padding: 6.5px 0;
  background-color: transparent;
}
#bodyOverview .modal#popPrint > .modal-content .areaH .areaV .title {
  text-align: center;
}
#bodyOverview .modal#popPrint > .modal-content .areaH .areaV .check {
  width: calc(100% - 40px);
  height: fit-content;
  border-radius: 0;
}
#bodyOverview .modal#popPrint > .modal-content .areaH .areaV .check:hover {
  background-color: #E0E0E0;
}
#bodyOverview .modal#popPrint > .modal-content .areaH .areaV .check .remark {
  margin: 5px 0;
}
#bodyOverview .modal .modal-content {
  width: 300px;
  padding: 20px;
  margin: auto;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #F5F6FA;
}
#bodyOverview .modal .modal-content .title {
  margin-bottom: 20px;
}
#bodyOverview .modal .modal-content .remark {
  margin: -5px 0 5px;
}
#bodyOverview .modal .modal-content .areaH {
  width: 100%;
  display: flex;
}
#bodyOverview .modal .modal-content .areaH .areaV {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#bodyOverview .modal .modal-content .item {
  display: flex;
  align-items: center;
}
#bodyOverview .modal .modal-content .button {
  width: 50%;
  height: 30px;
  margin: 20px 0 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
#bodyOverview .modal .modal-content .button.cancel {
  color: #F96332;
  background-color: white;
  margin-right: 10px;
  box-shadow: 0px 50px 100px rgba(55, 84, 170, 0.1);
}
#bodyOverview .modal .modal-content .button.cancel:hover {
  background-color: #FEE0D6;
}
#bodyOverview .modal .modal-content .button.submit {
  color: white;
  background-color: #F96332;
}
#bodyOverview .modal .modal-content .gray {
  color: #BDBDBD;
  filter: grayscale(100%);
  pointer-events: none;
}
#bodyOverview .modal .modal-content .receipt {
  height: fit-content;
  padding: 40px 10px 10px;
}
#bodyOverview .modal .modal-content .receipt .item {
  height: 25px;
  top: 5px;
  left: 30px;
  position: absolute;
}
#bodyOverview .modal .modal-content .receipt img {
  width: 150px;
}
#bodyOverview .modal .modal-content .input,
#bodyOverview .modal .modal-content .number,
#bodyOverview .modal .modal-content .number > input {
  background-color: white;
}
